body {
    background-color: #333;
}

.box {
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-delay: 2s;
    margin: 0;
    padding:0;
    font-size: 1.6rem;
    border: 5px solid red;
}

@keyframes myanimation{
    0% {color: red;}
    25% {color: orangered;}
    50% {color: yellow;}
    75% {color: green;}
    100% {color: blue;}
}